[Unit]
Description=euro 2.0 account identity mapper

[Service]
WorkingDirectory=/opt/account-identity
ExecStart=/usr/bin/java -Xmx768m -javaagent:newrelic/newrelic.jar -jar account-identity-latest.jar
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

