[Unit]
Description=euro 2.0 reference store

[Service]
Environment='GOPATH=/home/ubuntu/gocode'
User=ubuntu
WorkingDirectory=/home/ubuntu/reference-store
ExecStart=/usr/bin/go-1.6 run main.go
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

