[Unit]
Description=euro 2.0 sprayer bot server

[Service]
WorkingDirectory=/opt/sprayer-bot
ExecStart=/usr/bin/java -Xmx512m -javaagent:/opt/sprayer-bot/newrelic/newrelic.jar -jar sprayer-bot-latest.jar
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

