[Unit]
Description=euro 2.0 account identity mapper

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/account-identity
ExecStart=/usr/bin/java -Xmx768m -javaagent:/home/ubuntu/newrelic/newrelic.jar -jar accountmapper-0.0.1-SNAPSHOT.jar
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

